@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap");


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --intro: hsl(217, 28%, 15%);
  --main-bg: hsl(218, 28%, 13%);
  --footer-bg: hsl(216, 53%, 9%);
  --testimonios-bg: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --azul: hsl(198, 60%, 50%);
  --blanco: hsl(0, 0%, 100%);
}

html {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: var(--blanco);
  background: var(--main-bg);
}

h2,
h3,
nav,
.get-start {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

ul,
li {
  list-style: none;
}

a {
  color: var(--blanco);
  text-decoration: none;
}

h2 {
  font-size: 40px;
}

main {
  position: relative;
  padding-bottom: 200px;
}


.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 73px 80px;
  background: var(--intro);
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-items :not(:last-child) {
  padding-right: 56px;
}


.inicio {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background: var(--intro) url("images/bg-curvy-desktop.svg") bottom
    no-repeat;
  background-size: 100% 270px;
}

.inicio img {
  width: 742px;
  height: 538px;
}

.inicio h2 {
  width: 742px;
  margin: 46px;
}

.inicio p {
  width: 742px;
  font-size: 22px;
  padding: 0 30px;
}

.get-start {
  color: var(--blanco);
  width: 280px;
  padding: 20px 0;
  border-radius: 50px;
  margin: 30px 0;
  background: linear-gradient(to right, var(--cyan), var(--azul));
  border: none;
}


.opciones {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 94px 150px;
  margin: 130px 0;
  padding: 0 280px;
}

.servicio {
  text-align: center;
}

.servicio h3 {
  margin: 25px 0 12px 0;
}


.descripcion {
  display: flex;
  align-items: center;
  padding: 0 100px;
}

.desc-imagen img {
  height: 460px;
  width: auto;
  margin-right: 45px;
}

.desc-texto :not(:last-child) {
  margin-bottom: 25px;
}

.desc-link {
  justify-content: space-around;
  color: var(--cyan);
  border-bottom: 1px solid var(--cyan);
}

.desc-link img {
  vertical-align: middle;
  margin-left: 3px;
}


.comentarios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 140px;
}

.retro {
  background: var(--testimonios-bg);
  padding: 45px 40px;
  border-radius: 5px;
  position: relative;
}

.retro:first-child::before {
  content: url("images/bg-quotes.png");
  position: absolute;
  top: -35px;
  left: -15px;
  z-index: -1;
}

.retro p {
  margin-bottom: 25px;
}

.perfil {
  display: flex;
}
.perfil img {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  margin-right: 5px;
}

.desc-perfil h3 {
  font-size: 10px;
}

.desc-perfil p {
  font-size: 8px;
}


.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--intro);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 50px 74px 40px 74px;
  border-radius: 5px;
  bottom: -155px;
}

.sign-up h2 {
  margin-bottom: 30px;
}

.sign-up p {
  margin-bottom: 36px;
  text-align: center;
}

input[type="email"] {
  width: 482px;
  height: 50px;
  padding: 20px 47px;
  outline: none;
  border: none;
  border-radius: 50px;
  margin-right: 20px;
}

input[type="submit"] {
  margin: 0;
}

form {
  display: flex;
  align-content: center;
}

::placeholder {
  opacity: 0.4;
}


footer {
  background: var(--footer-bg);
  padding: 200px 80px 80px 100px;
  display: grid;
  grid-template-columns: 4fr 3fr 1fr 1fr 2fr;
  grid-template-rows: auto;
  column-gap: 70px;
  grid-template-areas:
    "logo . . . ."
    "location  contact links more-links social-icons";
}

.footer-logo {
  grid-area: logo;
  margin-bottom: 35px;
}

.footer-location {
  grid-area: location;
  display: grid;
  grid-template-columns: 5% 95%;
}

.footer-location span {
  padding-left: 35px;
}

.footer-contact {
  grid-area: contact;
}

.footer-contact p {
  margin-bottom: 26px;
}

.footer-contact img {
  margin-right: 24px;
}

.footer-links {
  grid-area: links;
  display: grid;
  grid-template-columns: 1fr;
}

.footer-links a {
  margin-bottom: 24px;
}

.footer-more-links {
  grid-area: more-links;
  display: grid;
  grid-template-columns: 1fr;
}

.footer-more-links a {
  margin-bottom: 24px;
}

.social-icons {
  grid-area: social-icons;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.social-icons i {
  font-size: 30px;
}


@media (max-width: 320px) {
  html {
    font-size: 10px;
  }

  .nav {
    padding: 20px 35px 0px 15px;
  }

  .nav-items :not(:last-child) {
    padding-right: 25px;
  }
  .logo img {
    width: 55px;
    height: 16px;
  }

 
  .inicio img {
    width: 250px;
    height: 180px;
    
    
  }
  .inicio h2 {
    width: 280px;
    margin: 23px;
    font-size: 20px;
    
  }
  .inicio p {
    width: 292px;
    font-size: 12px;
    padding: 0 23px;
  }

  .get-start {
    width: 220px;
    padding: 18px 0;
  }

  
  .opciones {
    grid-template-columns: 1fr;
    gap: 90px 0px;
    padding: 0 38px;
    margin: 10px 0;
  }

  

  .descripcion {
    flex-direction: column;
    padding: 30px 25px;
    margin-top: 110px;
    
  }

  .desc-imagen img {
    height: 195px;
    margin: 0px 0px 52px 0px;
  }
  .desc-texto h2 {
    font-size: 16px;
  }


  .comentarios {
    grid-template-columns: 1fr;
    gap: 24px;
    padding: 150px 22px;
  }

  

  .sign-up {
    padding: 40px 25px;
    bottom: -175px;
  }
  .sign-up h2 {
    font-size: 20px;
    
  }

  form {
    flex-direction: column;
  }
  input[type="email"],
  input[type="submit"] {
    width: 240px;
    margin: 0px 0px 25px 0px;
  }


  footer {
    grid-template-columns: 1fr;
    padding: 280px 27px 42px 27px;
    column-gap: 0;
    row-gap: 20px;
    grid-template-areas:
      "logo"
      "location"
      "contact"
      "links"
      "more-links"
      "social-icons";
  }

  .social-icons i{
    font-size: 28px;
  }

  .fa-facebook{
    justify-self: end;
  }
  .fa-twitter{
    justify-self: center;
  }
  .fa-intagram{
    justify-self: start;
  }
}

/* Mobile 768px */

@media  (min-width: 321px) and (max-width: 768px) {
  html {
    font-size: 16px;
  }

  .nav {
    padding: 30px 60px 20px 50px;
  }

  .nav-items :not(:last-child) {
    padding-right: 90px;
  }

  .logo img {
    width: 160px;
    height: 50px;
  }
 
 
  .inicio img {
    width: 567px;
    height: 404px;
    
    
  }
  .inicio h2 {
    width: 600px;
    margin: 23px;
    font-size: 40px;
    
  }
  .inicio p {
    width: 450px;
    font-size: 16px;
    padding: 0 23px;
  }

  .get-start {
    width: 350px;
    padding: 18px 0;
  }

  
  .opciones {
    grid-template-columns: 2 1fr;
    gap: 90px 0px;
    padding: 0 38px;
    margin: 60px 0;
  }

  

  .descripcion {
    flex-direction: column;
    padding: 60px 110px;
    margin-top: 110px;
    
  }

  .desc-imagen img {
    height: 385px;
    margin: 0px 0px 52px 0px;
  }
  .desc-texto h2 {
    font-size: 30px;
  }


  .comentarios {
    grid-template-columns: 1fr;
    gap: 24px;
    padding: 30px 22px;
  }

  

  .sign-up {
    padding: 40px 25px;
    bottom: -175px;
  }
  .sign-up h2 {
    font-size: 24px;
    
  }

  form {
    flex-direction: row;
  }
  input[type="email"],
  input[type="submit"] {
    width: 260px;
    margin: 0px 20px 25px 20px;
  }


  footer {
    
  padding: 300px 30px 80px 30px;
  column-gap: 10px;
  
  }

  .social-icons i{
    font-size: 22px;
  }

  .fa-facebook{
    justify-self: end;
  }
  .fa-twitter{
    justify-self: center;
  }
  .fa-intagram{
    justify-self: start;
  }
}





/* Mobile 320px */

@media (min-width: 280px) and (max-width: 599px) {
  html {
    font-size: 10px;
  }

  .nav {
    padding: 20px 35px 0px 15px;
  }

  .nav-items :not(:last-child) {
    padding-right: 25px;
  }
  .logo img {
    width: 55px;
    height: 16px;
  }

 
  .inicio img {
    width: 250px;
    height: 180px;
    
    
  }
  .inicio h2 {
    width: 280px;
    margin: 23px;
    font-size: 20px;
    
  }
  .inicio p {
    width: 292px;
    font-size: 12px;
    padding: 0 23px;
  }

  .get-start {
    width: 220px;
    padding: 18px 0;
  }

  
  .opciones {
    grid-template-columns: 1fr;
    gap: 90px 0px;
    padding: 0 38px;
    margin: 10px 0;
  }

  

  .descripcion {
    flex-direction: column;
    padding: 30px 25px;
    margin-top: 110px;
    
  }

  .desc-imagen img {
    height: 195px;
    margin: 0px 0px 52px 0px;
  }
  .desc-texto h2 {
    font-size: 16px;
  }


  .comentarios {
    grid-template-columns: 1fr;
    gap: 24px;
    padding: 150px 22px;
  }

  

  .sign-up {
    padding: 40px 25px;
    bottom: -175px;
  }
  .sign-up h2 {
    font-size: 20px;
    
  }

  form {
    flex-direction: column;
  }
  input[type="email"],
  input[type="submit"] {
    width: 240px;
    margin: 0px 0px 25px 0px;
  }


  footer {
    grid-template-columns: 1fr;
    padding: 280px 27px 42px 27px;
    column-gap: 0;
    row-gap: 20px;
    grid-template-areas:
      "logo"
      "location"
      "contact"
      "links"
      "more-links"
      "social-icons";
  }

  .social-icons i{
    font-size: 28px;
  }

  .fa-facebook{
    justify-self: end;
  }
  .fa-twitter{
    justify-self: center;
  }
  .fa-intagram{
    justify-self: start;
  }
}

/* Mobile 768px */

@media  (min-width: 600px) and (max-width: 1023px) {
  html {
    font-size: 16px;
  }

  .nav {
    padding: 30px 60px 20px 50px;
  }

  .nav-items :not(:last-child) {
    padding-right: 90px;
  }

  .logo img {
    width: 160px;
    height: 50px;
  }
 
 
  .inicio img {
    width: 567px;
    height: 404px;
    
    
  }
  .inicio h2 {
    width: 600px;
    margin: 23px;
    font-size: 40px;
    
  }
  .inicio p {
    width: 450px;
    font-size: 16px;
    padding: 0 23px;
  }

  .get-start {
    width: 350px;
    padding: 18px 0;
  }

  
  .opciones {
    grid-template-columns: 2 1fr;
    gap: 90px 0px;
    padding: 0 38px;
    margin: 60px 0;
  }

  

  .descripcion {
    flex-direction: column;
    padding: 60px 110px;
    margin-top: 110px;
    
  }

  .desc-imagen img {
    height: 385px;
    margin: 0px 0px 52px 0px;
  }
  .desc-texto h2 {
    font-size: 30px;
  }


  .comentarios {
    grid-template-columns: 1fr;
    gap: 24px;
    padding: 0px 22px;
  }

  

  .sign-up {
    padding: 40px 25px;
    bottom: -175px;
  }
  .sign-up h2 {
    font-size: 24px;
    
  }

  form {
    flex-direction: row;
  }
  input[type="email"],
  input[type="submit"] {
    width: 260px;
    margin: 0px 20px 25px 20px;
  }


  footer {
    
  padding: 300px 30px 80px 30px;
  column-gap: 10px;
  
  }

  .social-icons i{
    font-size: 22px;
  }

  .fa-facebook{
    justify-self: end;
  }
  .fa-twitter{
    justify-self: center;
  }
  .fa-intagram{
    justify-self: start;
  }
}

